/* * {
  border-top: 10px solid #1098ad;
} */
body {
  color: #444;
  font-family: sans-serif;
  border-top: 10px solid #1098ad;
}

h1,
h2,
h3 {
  color: #1098ad;
}
h1 {
  font-size: 26px;
  text-transform: uppercase;
  font-style: italic;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
}

p {
  font-size: 22px;

  line-height: 1.5;
}

li {
  font-size: 20px;
}

/*祖先后代选择器
article header p {
  font-style: italic;
}
*/

/*id选择器*/
#author {
  font-style: italic;
  font-size: 18px;
}

#copyright {
  font-size: 16px;
}

/* class选择器 */
.related-author {
  font-size: 18px;
  font-weight: bold;
}

.related {
  list-style: square;
}

.main-header {
  background-color: #f7f7f7;
}

aside {
  background-color: #f7f7f7;
  border-top: 5px solid #1098ad;
  border-bottom: 5px solid #1098ad;
  border-radius: 10px;
}

/* .first-li {
  font-weight: bold;
} */

li:first-child {
  font-weight: bold;
}

li:last-child {
  font-style: italic;
}
/* 对特定元素设定 */
/* li:nth-child(odd) {
  background-color: aquamarine;
  border-radius: 5px;
}
li:nth-child(even) {
  background-color: azure;
} */

/* 错误：article的第一个元素不是p，故不起作用, */
article p:first-child {
  color: red;
}

/* 对所有的a元素进行渲染 */
/* a {
  color: red;
} */
/* 只对含有真正链接href的a元素进行渲染
text-decoration: none;对文本进行修饰，去掉下划线 */
a:link {
  color: #1098ad;
  text-decoration: none;
}
/* 对已访问过的链接设置不同样式 */
a:visited {
  color: #1098ad;
}
/* 当鼠标悬停在锚元素上，锚元素改变样式 */
a:hover {
  color: orangered;
  font-weight: bold;
  text-decoration: underline;
}
a:active {
  background-color: black;
  font-style: italic;
}
a {
  color: red;
}
/* LVHA */
/* 解决冲突 */
/* #copyright {
  color: red;
}
.copyright {
  color: blue;
}
.text {
  color: yellow;
}
footer p {
  color: green !important;
} */

/* nav a:link,
nav p {
  font-size: 18px;
} */
nav {
  font-size: 18px;
}
