* {
  margin: 0;
  padding: 0;
}
/* 页面部分 */
body {
  color: #444;
  background-color: #fafaff;
  font-family: sans-serif;
  border-top: 10px solid #1098ad;
  position: relative;
  /* background-image: url("img/back3.jpg"); */
  /* background-size: cover; */
  /*background-attachment: fixed;  固定背景，内容滚动 */
  /* min-height: 100vh; 确保最小高度为视口高度 */
}

.container {
  width: 800px;
  margin: 0 auto;
  padding: 10px;
  /* position: relative; */
}

.main-header {
  border-width: 5px;
  border-style: dashed solid;
  border-color: #8bc4ea;
  border-radius: 10px;
  background-color: #f7f7f7;
  padding: 20px 40px;
  margin-bottom: 60px;
  /* height: 80px; */
}
/* 填充速记：
1：上 右 下 左
2：上下 左右 */
.post-header {
  margin-bottom: 40px;
  padding-bottom: 20px;
  border-bottom: 3px double;
  /* position: relative; */
}

nav {
  font-size: 18px;
}

article {
  margin-bottom: 60px;
}
aside {
  background-color: #f7f7f7;
  border-top: 5px solid #1098ad;
  border-bottom: 5px solid #1098ad;
  border-radius: 10px;
  /* padding-top: 50px;
  padding-bottom: 50px; */
  padding: 50px 0;
  width: 500px;
}

/* 小元素 */
h1,
h2,
h3 {
  color: #1098ad;
}
h1 {
  font-size: 26px;
  text-transform: uppercase;
  font-style: italic;
}

h2 {
  font-size: 40px;
  margin-bottom: 30px;
}

h3 {
  font-size: 30px;
  margin-bottom: 30px;
  margin-top: 40px;
}

h4 {
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
}
ul,
ol {
  margin-left: 50px;
  margin-bottom: 20px;
}
p {
  font-size: 22px;
  line-height: 1.5;
  margin-bottom: 15px;
}

li {
  font-size: 20px;
  /* padding-bottom: 10px; */
  margin-bottom: 10px;
  /* display: inline; */
}

li:last-child {
  margin-bottom: 0;
}

/*祖先后代选择器
article header p {
  font-style: italic;
}
*/

/*id选择器*/
#author {
  font-style: italic;
  font-size: 18px;
}

#copyright {
  font-size: 16px;
}

/* class选择器 */
.related-author {
  font-size: 18px;
  font-weight: bold;
}

.related {
  list-style: square;
}

/* .first-li {
  font-weight: bold;
} */

li:first-child {
  font-weight: bold;
}

li:last-child {
  font-style: italic;
}
/* 对特定元素设定 */
/* li:nth-child(odd) {
  background-color: aquamarine;
  border-radius: 5px;
}
li:nth-child(even) {
  background-color: azure;
} */

/* 错误：article的第一个元素不是p，故不起作用, */
article p:first-child {
  color: red;
}

/* 对所有的a元素进行渲染 */
/* a {
  color: red;
} */
/* 只对含有真正链接href的a元素进行渲染
text-decoration: none;对文本进行修饰，去掉下划线 */
a:link {
  color: #1098ad;
  text-decoration: none;
}
/* 对已访问过的链接设置不同样式 */
a:visited {
  color: #1098ad;
}
/* 当鼠标悬停在锚元素上，锚元素改变样式 */
a:hover {
  color: orangered;
  font-weight: bold;
  text-decoration: underline;
}
a:active {
  background-color: black;
  font-style: italic;
}
a {
  color: red;
}
/* LVHA */
/* 解决冲突 */
/* #copyright {
  color: red;
}
.copyright {
  color: blue;
}
.text {
  color: yellow;
}
footer p {
  color: green !important;
} */

/* nav a:link,
nav p {
  font-size: 18px;
} */

.post-img {
  width: 100%;
  height: auto;
}
nav {
  /* 行内块元素、行内元素的文本对齐属性是由父元素的text-align决定的 */
  /* text-align: center; */
}
nav a:link {
  /* background-color: orangered;
  margin: 20px;
  padding: 20px;

  display: block; */
  /* text-align: center; */
  margin-right: 30px;
  margin-top: 10px;
  display: inline-block;
}

nav a:link:last-child {
  margin-right: 0;
}

button {
  font-size: 22px;
  padding: 20px;
  cursor: url("img/24.png"), pointer;
  border-radius: 10px;
  /* 默认相对视口的左下角*/
  /* position: absolute;
  bottom: 0;
  left: 0; */

  /* 在页面的右下角，而非视口(对其祖先元素设置position属性为absolute、relative、fixed等) */
  position: absolute;
  bottom: 50px;
  right: 50px;
}
button:hover {
  border-width: 3px;
  border-style: inset;
  color: red;
}
h1::first-letter {
  font-style: normal;
  margin-right: 5px;
}
h3 + p::first-line {
  color: rgba(134, 86, 23, 0.699);
}

h2 {
  /* background-color: orange; */
  position: relative;
}
h2::after {
  content: "TOP";
  color: #000;
  background-color: #ffe70e;
  font-size: 16px;
  font-weight: bold;

  display: inline-block;
  padding: 5px 10px;

  position: absolute;
  top: -10px;
  right: -25px;
}

.related {
  margin-top: 50px;
}
.related-li {
  position: relative;
  height: 80px;
  margin-bottom: 50px;
}
li img {
  position: absolute;
  transform: translateY(-40%);
}
li a {
  margin-left: 76px;
}
li p {
  margin-top: 20px;
}
